body{
	font-family: "Source Sans Pro ", sans-serif;
}
*{
	box-sizing: border-box;
}
#nav-menu{
  background: #32CD32;
  height: 130px;
}
#nav-menu div.logo img{
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-left: 50%;
  margin-top: -2px;
}
#nav-menu div.logo p{
  text-transform: uppercase;
  /*margin-left: 20px;*/
  text-align: center;
	font-size: 13px;
	font-weight: bold;
}
a{
	color: #333;
	text-decoration: none;
}
#con{
	color: red;
	text-align: center;

}
.container{
  width: 100%;
	margin: 0 auto;
  float: right;
	background: #32CD32;
  margin-top: -10px;
}
.menu-mobile{
	display: none;
	padding: 20px;
}
.menu-mobile:after{
	content: "\203A";
	font-size: 2.5rem;
	padding: 0;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-25%);
}
.menu-dropdown-icon:before{
	content: "\203A";
	float: right;
	display: none;
	cursor: pointer;
	padding: 1.5rem 2rem;
	background: #fff;
	color: #333;
}
.menu > ul{
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu > ul:before, .menu > ul:after{
	content: "";
	display: table;
}
.menu > ul:after{
	clear: both;
}
.menu > ul > li{
	float: left;
	background: #32CD32;
	padding: 0;
	margin: 0;
}
.menu > ul >li a{
	text-decoration: none;
	padding: 1.5em 3em;
	display: block;
}
.menu > ul > li:hover{
	background:#f0f0f0;
}
.menu > ul > li > ul{
	display: none;
	width:100%;
	background: #f0f0f0;
	padding: 20px;
	position: absolute;
	z-index: 9999;
	left: 0;
	margin: 0;
	list-style: none;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after{
	content: "";
	display: table;
}
.menu > ul > li > ul:after{
	clear: both;
}
.menu > ul > li > ul > li{
	margin: 0
	padding-bottom: 0;
	list-style: none;
	width: 25%;
	background: none;
  float: left;
}
.menu > ul > li > ul > li a{
	color: #777;
	padding: .2em 0;
	width: 95%;
	display: block;
	border-bottom: 1px solid #ccc;
}
.menu > ul > li > ul > li > ul{
	display: block;
	padding: 0;
	margin: 10px 0 0;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after{
	content: "";
	display: table;
}
.menu > ul > li > ul > li > ul:after{
	clear: both;
}
.menu > ul > li > ul > li > ul > li{
	float: left;
	width: 100%;
	padding: 10px 0;
	margin: 0;
	font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a{
	border: 0;
}
.menu > ul > li > ul.normal-sub{
	width: 300px;
	left: auto;
	padding: 10px 20px;
}
.menu > ul > li > ul.normal-sub > li{
	width: 100%;
}
.menu > ul > li > ul.normal-sub > li a{
	border: 0;
	padding: 1em 0;
}
/*modal */
#button-popup{
	border-radius: 5px;
	margin-left: 50px;
}
.window-popup{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: none;
	overflow: scroll;
}
.wp-content{
	width: 90%;
	height: 90%;
	background: #f4f4f4;
	border-radius: 3px;
	position: absolute;
	left: 5%;
	top: 1%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0,0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 1s;
}
#button-popup-close{
	color: #ccc;
	float: right;
	font-size: 30px;
	margin-right: 10px;
}
#button-popup-close:hover, #button-popup-close:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen{
	from{opacity: 0}
	to{opacity: 1}
}
/*section*/
.main{
  height: 600px;
  width: 100%;
  padding: 30px 0 30px;
  background-image: url(../images/mine1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.main img{
  height: 350px;
  width: 450px;
  margin: 70px 0 0 40px;
}
.main h1{
  font-size: 40px;
  font-weight: 700;
  padding-top: 30px;
  margin-left: 40px;
}
.main p{
    margin-left: 40px;
		font-weight: lighter;
}
.main button{
    margin-left: 40px;
}
.main h1,
.main p,
.main button{
  margin-top: 20px;
}
.main .btn{
  border-radius: 0;
  margin: 40px 20px;
}
/*end section*/
/*about*/
#info{
	margin-left: 24px;
	padding-left: 50px;
}
.about{
  padding: 80px 0 80px;
  text-align: center;
}
.about h1,
.about h4{
  color: #4c4c4c;
  margin: 20px 0 20px;
}
.about p{
  color: #737373;
  /*height: 5px;*/
  font-size: 15px;
  padding-bottom: 40px;
}
.about i{
  height: 80px;
  width: 80px;
  font-size: 30px;
  padding: 25px 20px;
  border-radius: 50%;
  background-color: #6699cc;
  color: #fff;
}
#btn{
	margin-top: -20px;
}
hr{

}



@media only screen and (max-width: 959px){
  .main{
    padding: 30px;
    height: 750px;
  }
  .main img{
    width: 90%;
    height: 300px;
    margin: 20px 0 0 20px;
  }
  .main .btn{
    font-size: 10px;
    margin-left: 20px;
  }
  .main h1{
    font-size: 20px
  }
  .main p{
    font-size: 10px;
  }
	.container{
		width: 100%
	}
	.menu-mobile{
		display: block;
	}
	.menu-dropdown-icon:before{
		display: block;
	}
	.menu > ul{
		display: none;
	}
	.menu > ul > li{
		width: 100%;
		float: none;
		display: block;
	}
	.menu > ul > li a{
		padding: 1.5em;
		width: 100%;
		display: block;
	}
	.menu > ul > li > ul{
		position: relative;
	}
	.menu > ul > li > ul.normal-sub{
         width: 100%;
 	}
 	.menu > ul > li > ul > li{
 		float: none;
 		width: 100%;
 		margin-top: 20px;
 	}
 	.menu > ul > li > ul > li:first-child{
 		margin: 0;
 	}
    .menu > ul > li > ul > li > ul{
    	position: relative;
 	}
 	.menu > ul > li > ul > li > ul > li{
        float: none;
 	}
 	.menu .show-on-mobile{
 		display: block;
 	}
	#info{
		padding-bottom: 10%;
	}
}
